/* COMMONLY USED GLOBAL CLASSES */
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.display-inline {
  display: inline;
}
.cursor-pointer {
  cursor: pointer;
}

.min-height-100vh {
  min-height: 100vh;
}

.font-weight-500 {
  font-weight: 500;
}

// styling text
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-weight: italic;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.margin-right-1 {
  margin-right: 1em !important;
}

// white space styles
.margin-top-2 {
  margin-top: 2rem;
}
.margin-bottom-2 {
  margin-bottom: 2rem;
}
.margin-top-5 {
  margin-top: 5em !important;
}
.margin-top-3 {
  margin-top: 3rem;
}
.margin-bottom-3 {
  margin-bottom: 3rem;
}
.padding-0 {
  padding: 0;
}
.padding-1 {
  padding: 1rem;
}
.padding-top-1 {
  padding-top: 1rem;
}
.padding-bottom-1 {
  padding-bottom: 1rem;
}
.padding-left-1 {
  padding-left: 1rem;
}
.padding-right-1 {
  padding-right: 1em !important;
}
.padding-top-2 {
  padding-top: 2rem;
}
.padding-bottom-2 {
  padding-bottom: 2rem;
}
.padding-right-2 {
  padding-right: 2rem;
}
.padding-left-2 {
  padding-left: 2rem;
}
.padding-top-3 {
  padding-top: 3rem;
}
.padding-bottom-3 {
  padding-bottom: 3rem;
}
.padding-right-4 {
  padding-right: 4rem;
}
.padding-left-4 {
  padding-left: 4rem;
}
.padding-right-5 {
  padding-right: 5rem;
}
.padding-left-5 {
  padding-left: 5rem;
}
.padding-right-7 {
  padding-right: 7rem;
}
.padding-left-7 {
  padding-left: 7rem;
}
.color-white {
  color: white;
}
.cursor-pointer {
  cursor: pointer;
}

// FLEX CLASSES
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-row {
  flex-flow: row nowrap;
}
.flex-column {
  flex-flow: column nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-space-around {
  justify-content: space-around;
}
.flex-justify-space-between {
  justify-content: space-between;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-align-center {
  align-items: center;
}
.flex-pull-right {
  margin-left: auto;
}
.flex-pull-left {
  margin-right: auto;
}
.margin-left-right-auto {
  margin: 0 auto;
}
.flex-0-1-100p {
  flex: 0 1 100%;
}
.flex-no-grow {
  flex: 0 1 auto;
}
.flex-auto-grow {
  flex: 1 1 auto;
}

// button
.no-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: inherit;
  border: none;
  display: inline-block;
  outline: none;
  &:focus {
    outline: none;
    border: none;
  }
}
